name: Symfony

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install Dependencies
      working-directory: ./
      run: composer install

    - uses: actions/checkout@v3
    - name: Build the stack
      run: docker-compose up -d --build

    - name: Check http status code of site
      uses: lakuapik/gh-actions-http-status@v1
      with:
        sites: '["http://localhost:8080"]'
        expected: '[200]'